<grid-layout min="200px">
<doc-box height="100px">
    <img src="assets/leniamargariti.jpg" alt="LeniaMargariti" width="200">
    <div class="chairs"><b>Lenia Margariti</b> is a design researcher, postdoctoral researcher at EPSRC-funded TORUS and PhD candidate at Newcastle University in the UK. Her research addresses the experiences of building occupants in smart office buildings, focusing on the use of data for wellbeing and the design of awareness interfaces. Her background as a trained architect informs her approach to understanding the spatial experiences of building occupants and the design and development of physical displays utilizing soft robotics & actuated materials for situating data in the built environment</div>
</doc-box>
<doc-box height="100px">
    <img src="assets/carolineclaisse.jpg" alt="CaroClaisse" width="200">
    <div class="chairs"><b>Caroline Claisse</b> is a Lecturer in Interaction Design at Open Lab, Newcastle University and a designer by background working on participatory research and experience-centred design projects that focus on digital health, sustainability and well-being.</div>
</doc-box>
<doc-box height="100px">
    <img src="assets/saranabil.jpg" alt="SaraNabil" width="200">
    <div class="chairs"><b>Sara Nabil</b> is an Assistant Professor of Human-Computer Interaction in the School of Computing (cross-affiliated with the Cultural Studies Department) at Queen’s University and head of the iStudio Lab. The highlights of her awards are: the Best Design Award at the Fab Island Competition (Bali, Indonesia) in Design, the Mentorship Inspiring Woman Award (Ban Righ F., Ontario) in Supervision, and the Early Career Researcher Award from the Canadian HCI Society (Montreal, Quebec) in Research. Her research focuses on the development of novel interactive materials, in particular for developing interactive interior design spaces.</div>
</doc-box>
<doc-box height="100px">
    <img src="assets/benbridgens.jpg" alt="BenBridgens" width="200">
    <div class="chairs"><b>Ben Bridgens</b> is Professor of Regenerative Architecture in the School of Architecture, Planning & Landscape at Newcastle University, and he is Co-Director of the Hub for Biotechnology in the Built Environment (HBBE, www.bbe.ac.uk). Ben’s research and teaching is driven by the question: “Can we move beyond ‘sustainability’ and create a built environment which has positive impacts: that is beneficial and enriching to the natural environment, that does not degrade but performs better as it ages, that is a pleasure to construct, and is delightful to inhabit?”</div>
</doc-box>
<doc-box height="100px">
    <img src="assets/abidurrant.jpg" alt="AbiDurrant" width="200">
    <div class="chairs"><b>Abigail Durrant</b> is Professor of Interaction Design and Co-Director of Open Lab. She predominantly works as a designer, researcher and educator in the field of Human-Computer Interaction (HCI). She is Principal Investigator (PI) for the newly awarded NortHFutures Digital Health Hub, a world-leading innovation ecosystem facilitating the research, development, and acceleration of responsibly designed health-tech. Her research addresses the significant design challenges that we face for managing selfhood and wellbeing in our everyday interactions with digital technologies and personal data. She has extensive experience of workshop development and delivery.</div>
</doc-box>
<doc-box height="100px">
    <img src="assets/davekirk.jpg" alt="DaveKirk" width="200">
    <div class="chairs"><b>David Kirk</b> is Professor of Human-Computer Interaction at Newcastle University in the School of Computing, and Co-Director of Open Lab and the Principal Investigator for the EPSRC Next Stage Digital Economy Centre for Digital Citizens. He has a background in psychology, ergonomics and Human-Centred Design. His research interests span Human-Building Interaction and Human-Data relations. He has previously organised and led a number of international workshops at major conferences such as ACM DIS and CHI. </div>
</doc-box>
</grid-layout>
      

