<!doctype html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <!-- @openlab/alembic inject-css -->
    <link rel="stylesheet" href="https://fonts.openlab.dev/inter/inter.css" />
    <link
      rel="stylesheet"
      href="https://fonts.openlab.dev/montserrat/montserrat.css"
    />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    {{ content | safe }}
    <center-layout>
          <cluster-layout  align="center">       
                <img src="assets/newcastle.png" alt="NCLlogo" width="200">
                <img src="assets/Logo-Openlab.jpg" alt="OpenLablogo" width="200">
                <img src="assets/LogoHBBE.png" alt="HBBElogo" width="200">
                <img src="assets/Queens-logo.jpg" alt="QSClogo" width="200">
                <img src="assets/iStudio.png" alt="iStudiologo" width="200">
          </cluster-layout>  
      </center-layout>
    <footer> {{ site.title }} </footer>
    <!-- @openlab/alembic inject-js -->
  </body>
</html>
